@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,900;1,9..40,200&display=swap");


header {
    background-color: #f0efea;
    padding: 16px;
}

header .container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;

    @media (min-width: 992px) {
        grid-template-columns: auto 1fr auto;
        grid-template-areas: "logo cib social" "logo menu menu";
    }
}


header .container .btn-menubars {
    grid-area: bars;
    font-size: 25px;
    border: none;
    background-color: transparent;

    @media (min-width: 992px) {
        display: none;
    }
}


header .container .logotype {
    grid-area: logo;
    margin-right: 70px;
}

header .container .contactbar {
    grid-area: cib;
    display: none;
    justify-content: flex-start;
    align-items: center;

    @media (min-width: 1200px) {
        display: flex;
    }

    .content-box {
        padding-right: 30px;
        margin-right: 30px;
        border-right: 1px solid #DAD9D3;
        font-family: 'Inter', sans-serif;
        font-size: 15px;
        font-weight: 300;
    }

    .content-box i {
        margin-right: 5px;
        font-size: 1.2em;
    }

    .content-box.last {
        border: none;
    }
}


header .container .socialmediabar {
    grid-area: social;
    display: none;
}

header .container .socialmediabar a {
    color: #191919;
    font-size: 1.2rem;
    margin-left: 10px;
}

header .container .socialmediabar a:hover {
    color: #666666;
}

@media (min-width: 992px) {
    header .container .socialmediabar {
        display: flex;
    }
}


header .container .menu {
    grid-area: menu;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #DAD9D3;
    margin-top: 10px;
    padding-top: 10px;

    @media (max-width: 991px) {
        display: none;
    }
}

header .container .menu nav a {
    display: inline-block;
    color: #191919;
    text-decoration: none;
    margin-right: 35px;
    position: relative;
}

header .container .menu nav a.active {
    font-weight: 500;
}

header .container .menu nav a.active::after,
header .container .menu nav a:hover::after {
    content: '';
    position: absolute;
    font-weight: 500;
    height: 2px;
    width: 15px;
    background-color: #191919;
    left: 50%;
    bottom: -3px;
    transform: translateX(calc(50% - 15px));
}

header .container .menu .btn-login {
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
}
